<div class="body">
  <div class="container">
    <mat-card class="example-card">
      <mat-card-subtitle>Tarjetas</mat-card-subtitle>
      
      <mat-card-content>
        
        <p>{{ cardText }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a mat-flat-button color="primary"  routerLink="/cards">Ver lista de tarjetas</a>
      </mat-card-actions>
      
    </mat-card>
    <mat-card class="example-card">
      <mat-card-subtitle>Transacciones</mat-card-subtitle>
      
      <mat-card-content>
        
        <p>{{ transactionText }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a mat-flat-button color="primary"  routerLink="/transactions">Ver lista de transacciones</a>
      </mat-card-actions>
      
    </mat-card>
  </div>





  <router-outlet></router-outlet>
</div>