.body{
    margin-top: 20px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-content: center; 
    padding: auto;
    margin: auto;
    width: 50%;
}
.example-card {
    background-color: white;
    border-color: lightgrey;
    border-style: solid;
    max-width: 400px;
  }
