<h1>Tarjetas</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="pan">
      <th mat-header-cell *matHeaderCellDef> Pan </th>
      <td mat-cell *matCellDef="let element"> {{element.pan}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cardHolder">
      <th mat-header-cell *matHeaderCellDef> Titular </th>
      <td mat-cell *matCellDef="let element"> {{element.cardHolder}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="personalIdentification">
      <th mat-header-cell *matHeaderCellDef> Cedula </th>
      <td mat-cell *matCellDef="let element"> {{element.personalIdentification}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
